body {
  background-color: rgb(190, 190, 190);
  margin: 0;
}

header {
  background-color: rgb(190, 190, 190);
  text-align: center;
  padding: 35px;
}

nav {
  background-color: black;
  text-align: center;
  padding: 15px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin: 15px;
}

nav a {
  color: white;
}

main {
  background-color: white;
  width: 70%;
  margin: 25px auto;
  padding: 20px;
  border: 1px solid gray;
}

section {
  margin-bottom: 25px;
}

footer {
  text-align: center;
  padding: 10px;
}

address {
  font-style: italic;
}