body {
  background-color: rgb(190, 190, 190);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: white;
  margin: 20px;
  padding: 30px;
  border: 1px solid rgb(190, 190, 190);
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
}

label {
  display: block;
  margin-bottom: 4px;
}

input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 6px;
}

@media (min-width: 551px) {
  main {
    width: 350px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}